@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

/* styles.css or global css */


  
@import "tailwindcss";

@theme{
    --font-roboto:Roboto, "sans-serif"
}
.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}